<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="/ztronics/assets/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/ztronics/assets/images/favicon.svg" />
<link rel="shortcut icon" href="/ztronics/assets/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/ztronics/assets/images/apple-touch-icon.png" />
<link rel="manifest" href="/ztronics/assets/images/site.webmanifest" />
