{% assign has_affiliate = false %}

{% for item in commerce.stores %}
  {% assign store = item[1] %}
  {% if store.enabled and store.affiliate_url != blank %}
    {% assign has_affiliate = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if has_affiliate %}

<div class="en-product-disclosure">

    <strong>Affiliate Disclosure</strong>

    <p>
        Some links on this page are affiliate links. If you purchase through them,
        Embedded Nerd may earn a small commission at no extra cost to you.
        Thank you for supporting the website.
    </p>

</div>

{% endif %}
