{% assign commerce = site.data.commerce[include.product] %}
{% assign stores = site.data.stores %}

{% if commerce and commerce.stores %}

<div class="en-product-buttons">

  {% for store_data in commerce.stores %}

    {% assign store_key = store_data[0] %}
    {% assign store = store_data[1] %}
    {% assign store_info = stores[store_key] %}

    {% if store.enabled and store.affiliate_url %}

      <a
        href="{{ store.affiliate_url }}"
        class="en-buy-button{% if commerce.preferred_store == store_key %} preferred{% endif %}"
        target="_blank"
        rel="nofollow sponsored noopener">

        {% if store_info.icon %}
          <i class="fab fa-{{ store_info.icon }}"></i>
        {% endif %}

        Buy on {{ store_info.name }}

      </a>

    {% endif %}

  {% endfor %}

</div>

{% if commerce.disclaimer %}
<div class="en-affiliate-disclaimer">
    {{ commerce.disclaimer }}
</div>
{% endif %}

{% endif %}
