{% assign product = site.products | where: "product_id", include.product | first %}
{% assign commerce = site.data.commerce[include.product] %}
{% assign style = include.style | default: "premium" %}

{% if product %}

<div class="en-product-box {{ style }}">

    {% include product-header.html
        product=product
        commerce=commerce %}

    {% include product-specifications.html
        product=product %}

    {% include buy-buttons.html
        product=product.product_id %}

    {% include product-links.html
        product=product %}

    {% include product-related.html
        product=product %}

</div>

{% include product-schema.html
    product=product
    commerce=commerce %}

{% endif %}
