{% if product.tags and product.tags.size > 0 %}

<section class="en-product-tags-section">

    <h3 class="en-section-title">
        Related Topics
    </h3>

    <div class="en-product-tags-list">

        {% for tag in product.tags %}

        <a
            class="en-product-tag"
            href="{{ '/tags/' | relative_url }}#{{ tag | slugify }}"
            title="View all content tagged '{{ tag }}'">

            <span class="en-product-tag-text">
                {{ tag }}
            </span>

        </a>

        {% endfor %}

    </div>

</section>

{% endif %}
