---
# Only the main Sass file needs front matter
---


@import "minimal-mistakes";

/* Green titles */

.page__title,
.archive__item-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00ff88 !important;
}

/* Green links */

a {
  color: #00ff88 !important;
}

a:hover {
  color: #66ffbb !important;
}
