---
---

@import "minimal-mistakes/skins/neon";
@import "minimal-mistakes";

a {
  color: #3fb950 !important;
}

a:hover {
  color: #66ffbb !important;
}

/* Code blocks */

.highlight,
.highlighter-rouge {
  background: #2d333b !important;
  border-radius: 10px;
  padding: 1rem;
}

.highlight pre,
.highlighter-rouge pre {
  background: #2d333b !important;
  color: #ffffff !important;
}

.highlight * {
  color: #ffffff !important;
}
